<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Le Labo</title>
	<!-- CSS -->
	    <link rel="stylesheet" type="text/css" href="css/angular-ui-tree.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
<!--   <link rel="stylesheet" href="source/angular-ui-tree.css"> -->
		<link rel="stylesheet" href="css/app.css">
	<!-- Library -->
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-route.min.js"></script>">
		<script src="lib/angular-ui-tree.min.js"></script>
		<script src="lib/ui-bootstrap-tpls-1.3.2.js"></script>
	<!-- Dependance angular-ui-tree -->	
		<script src="source/controllers/handleCtrl.js"></script>
		<script src="source/controllers/nodeCtrl.js"></script>
		<script src="source/controllers/nodesCtrl.js"></script>
		<script src="source/controllers/treeCtrl.js"></script>
		<script src="source/directives/uiTree.js"></script>
		<script src="source/directives/uiTreeHandle.js"></script>
		<script src="source/directives/uiTreeNode.js"></script>
		<script src="source/directives/uiTreeNodes.js"></script>
	<!-- Dependance -->	
		<script src="js/app.js"></script>
		<script src="js/controller.js"></script>
		<!-- <script src="js/services.js"></script> -->
	    <script src="js/Model.js"></script>
	    <script src="js/Tools.js"></script>
    
</head>

<body ng-app="demoApp">
	<div ng-controller="FirstTryCtrl">
	
<!-- 	fonctionne mais manque de "cosmétique"
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    {{node.title}}
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>
		<div ui-tree id="tree-root">
			<ol ui-tree-nodes="" ng-model="data" id="tree-root">
				<li ng-repeat="node in data" ui-tree-node
					ng-include="'nodes_renderer.html'"></li>
			</ol>
		</div>

 -->	
 
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    {{node.title}}
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
        class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
        class="glyphicon glyphicon-plus"></span></a>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>
    <div ui-tree id="tree-root">
      <ol ui-tree-nodes ng-model="data">
        <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      </ol>
    </div>

	</div>
</body>
</html>